body {
  background-color: #f2f2f2;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #333;
}

h1 {
	font-size: 40px;
}

h3 {
	color: #95a5a6;
	font-weight: 400;
}

h4 {
	color: #95a5a6;
	font-weight: 400;
	font-size: 20px;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #3498db;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar-default {
	background-color: #3498db;
	border-color: transparent;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

/* Helpers */

.mt {
	margin-top: 40px;
	margin-bottom: 40px;
}

.form-control {
	/*height: 42px;*/
	font-size: 18px;
	/*width: 280px;*/
}

i {
	margin: 8px;
	color: #3498db; 
}


/* HeaderWrap */
#headerwrap {
	/* background: url(../img/bg01.jpg) no-repeat center top; */
	background-color: #3498db;
	margin-top: -20px;
	padding-top: 100px;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	margin-top: 60px;
	margin-bottom: 15px;
	color: white;
	font-size: 45px;
	font-weight: 300;
	letter-spacing: 1px;
}

/* Start slide box */
.slidebox-container {
    position: relative;
}

.slidebox {
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 10px;
}

.slidebox-content {
}

.slidebox-controls {
    border: #fff 1px solid;
    border-radius: 3px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 15px; /* don't cover scrollbar */
    width: 10%;
}

/* .slidebox-left {
    background: rgba(128, 128, 128, 0.5) url(https://raw.github.com/keithjgrant/slidebox/master/images/left-arrow.png) center center no-repeat;
    left: 0;
    cursor: w-resize;
}

.slidebox-right {
    background: rgba(128, 128, 128, 0.5) url(https://raw.github.com/keithjgrant/slidebox/master/images/right-arrow.png) center center no-repeat;
    right: 0;
    cursor: e-resize;
} */

.box {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #eef;
}

/* page styles */

.my-slidebox {
      background-color: #ccf;
}

.my-slidebox-content {
  
}
/* End slide box */

.container-margin-top {
	margin-top: 100px;
}

.project-item {
	width: 95%;
	height: 100px;
}

.project-item-margin {
	margin-bottom: 20px;
}

/* Start Board Page */
.panel-container {
	float: left;
	margin-right: 10px;
	margin-top: 70px;
	min-width: 290px;
}

.panel-container-body {
	padding: 5px;
}

.panel-heading {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.heading-text {
	font-weight: bold;
	font-size: 25px;
}

.sub-heading-text {
	margin-left: 15px;
	font-size: 25px;
	font-weight: bold;
	cursor: pointer;
}

.sub-heading-text:hover {
	color: blue;
}

.tasks-container-style {
	background-color: #81BEF7;
	border-radius: 3px;
	min-height: 100px;
	width: 280px;
	float: left;
	padding: 5px;
}

.container-margin {
	margin-right: 10px;
}

.tasks-container {
	min-height: 20px;
	max-height: 400px;
}

.tasks-container::-webkit-scrollbar {
	width: 10px;
	background-color: #81BEF7;
}

.tasks-container::-webkit-scrollbar-thumb {
	background-color: #81DAF5;
	border-radius: 10px;
}

.tasks-container::-webkit-scrollbar-thumb:hover {
	background-color:#58D3F7;
	border:1px solid #333333;
}

.tasks-container::-webkit-scrollbar-thumb:active {
	background-color:#2E9AFE;
	border:1px solid #333333;
}

.tasks-container::-webkit-scrollbar-track {
	border:1px #A9E2F3 solid;
	border-radius:10px;
	-webkit-box-shadow:0 0 6px gray inset;
} 

.tasks-scroll {
	overflow: auto;
}

.task {
	background-color: #E0F2F7;
	border-radius: 2px;
	padding: 5px;
	margin-bottom: 5px;
	font-family: sans-serif;
}

.task:hover {
	background-color: #A9F5F2;
}

.task-width {
	width: 250px;
}

.add-task {
	background-color: red;
	border-radius: 2px;
}

.column-name {
	margin-bottom: 10px;
	text-align: center;
	font-size: 19px;
	font-weight: bold;
}

.input-comment {
	margin-left: 15px;
	width: 88%;
}

.comment-box {
	margin-top: 10px; 
	margin-bottom: 5px;
	cursor: default; 
	max-height: 200px;
	overflow-y: auto;
}

.comment-item {
	border-radius: 2px;
	font-size: 13px;
	background-color: #CEECF5;
	margin-bottom: 2px;
	padding: 5px;
}


.focus-name:hover {
	font-weight: bold;
	cursor: pointer;	
}

.focus-name:active {
	font-weight: bold;
	color: green;
}
/* End Board Page */

.taskColor-yellow{
	background-color: #F7FE2E;
}

.taskColor-green{
	background-color: #088A08;
}

.taskColor-blue{
	background-color: #045FB4;
}

.taskColor-red{
	background-color: #DF0101;
}

.taskColor-orange{
	background-color: #DF3A01;
}

.taskColor-purple{
	background-color: #8904B1;
}

.taskColor-white{
	background-color: #FFFFFF;
}

.task-commentheader{
	background: #81BEF7;
	border-radius: 2px;
	font-size: 15px;
	padding-right: 5px;
	padding-left: 5px;
	height: 30px;
	line-height: 30px;
}

.task-commentcontent{
	font-size: 12px;
	text-align: left;
	border-radius: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.task-comment {
	border-radius: 5px;
	min-height: 20px;
	padding: 5px;
	margin-bottom: 3px;
}

.overload {
	overflow: auto;
	max-height: 300px;
}
 
 .header-board{
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
 }
 .dropdown-menu{
 	background-color: #f0f0f0;
 	min-width: 130px;
 }
 
 .dropdown-menu li a{
	color: #000000;
	text-align: center;
 	font-size: 15px;
 	font-weight: bold;
}

.test {
	background-color: yellow;
	margin-bottom: 5px;
	padding: 5px;
}

.test-container {
	background-color: red;
	padding: 10px;
	margin-right: 5px;
}

.member-list-container {
	border: 1px solid #A9D0F5;
	max-height: 100px;
	overflow: auto;
	width: 100%;
	margin: auto;
	padding: 10px;
	border-radius: 5px;
}

.member-list-item {
	border-radius: 5px;
	cursor: pointer;
}

.member-list-item:hover {
	background-color: #CEE3F6;
	padding: 5px;
	font-weight: bold;
}

.joined-member-container {
	border: 1px solid #A9D0F5;
	max-height: 100px;
	overflow: auto;
	width: 90%;
	margin: auto;
	padding: 10px;
	border-radius: 5px;
}

.flip {
	-webkit-perspective: 1000;	
	margin-bottom: 20px;
}

.card:hover {
	-webkit-transform: rotatex(-180deg);
}

.flip .card {
	width: 95%;
	height: 120px;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
}

.flip .card .face {
	border-radius: 5px;
	width: 95%;
	height: 120px;
	-webkit-backface-visibility: hidden;
	z-index: 2;
	font-family: Georgia;
}

.flip .card .front {
	position: absolute;
	z-index: 1;
	background: #A9E2F3;
	color: white;
	cursor: pointer;
	text-align: center;
	line-height: 100px;
	font-size: 2em;
}

.flip .card .back {
	-webkit-transform: rotatex(-180deg);
	background: #A9F5D0;
	color: black;
	cursor: pointer;
	font-size: 1em;
	padding-left: 10px;
	padding-top: 10px;
}

.pointer-cursor {
	cursor: pointer;
}

.delete-icon:hover {
	color: green;
	cursor: pointer;
}

.edit-task-component {
	background-color: #EFF8FB;
	border: #D8D8D8 solid 1px;
	border-radius: 4px;
	padding: 5px;
}

.project-container {
	background-color: #A9D0F5;
	padding: 5px;
	border-radius: 5px;
	font-family: serif;
}

.project-name {
	font-size: 25px;
	font-weight: bold;
}

.project-name:hover {
	color: blue;
}

.project-info {
	font-size: 20px;
}

.project-detail {
	border-radius: 3px;
	background: #81BEF7;
	padding: 2px;
	width: 100%;
	text-align: center;
}

.project-detail:hover {
	background: #A9D0F5;
	font-weight: bold;
	color: #A9A9F5;
}

.comment-member {
	font-weight: bold;
	margin-right: 5px;
}

.comment-content {
	
}

.task-label {
	width: 10px;
	height: 10px;
	margin-right: 3px;
}

