<!-- Fixed navbar -->

<!-- Fixed navbar -->

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span> </button>
      <a class="navbar-brand" href="#/"><b>T - SMAR</b></a> </div>
    <div class="navbar-collapse collapse">
      <button type="button" class="btn btn-primary navbar-btn navbar-right">{{data.account.userName}}</button>
      <button type="button" class="btn btn-primary navbar-btn navbar-right" style="margin-right: 10px">Administration</button>
      <div class=" navbar-btn narvar-left list-inline" >
        <li>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> Open Projects <span class="caret"/> </button>
            <ul class="dropdown-menu header-line" >
              <li> <a href="">Project 1 </a></li>
              <li> <a href=""> Project 2 </a></li>
              <li> <i class="glyphicon glyphicon-plus"></i>Create board</li>
            </ul>
          </div>
        </li>
        <li><a href="#/analytic" >
          <button type="button" class="btn btn-primary navbar-btn">Open Analytics</button>
        	</a></li>
        <li> <a href="#/editboard" >
          <button type="button" class="btn btn-primary navbar-btn">Edit Board</button>
          </a> </li>
        <li>
          <input type="text" class="form-control" placeholder="Search" >
        </li>
      </div>
    </div>
    <!--/.nav-collapse --> 
  </div>
</div>
<div class="container container-margin-top">
	<div class = "row" >
  <center><button class="btn btn-success nav-header " style="margin-bottom:10px"> Back to board </button></center>
  </div>
  <div class="row">
    <div class="col-lg-3 cols-container" ng-repeat="column in columns" ui-sortable="sortableOptions1" ng-model="column">
      <div class="list-card">
        <div class="column-name">{{column.title}}</div>
        <center>
        <div class="items-container" ui-sortable="sortableOptions" ng-model="column.tasks"> </div>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-pencil"> </i></button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-remove"> </i></button>
      	</center>
      </div>
    </div>
	<div class="col-lg-3 cols-container" ui-sortable="sortableOptions1" ng-model="column">
        <div class="column-name btn btn-primary ">Add new column...</div>
      </div>
    </div>
  </div>
</div>